{% extends "layout.html" %}
{% block content %}
  <p>
    hi {{ entries | length }}
  </p>

  {% for e in entries %}
    <a class="card" href="/entry/{{e.id}}">
      <img src="{% if e.image %} {{ e.image }} {% else %} {{url_for('static', filename='img/missing.png')}} {% endif %}" class="card-img-top">
      <div class="card-title text-center">
        {{ e.maker_name.display }}
      </div>
      <div class="card-body text-center">
        {{ e.colorway}}/{{ e.sculpt_name}} ->
        #<span id="clw_num">{{ e.clw_num }}</span> /<span id="clw_total">{{ e.clw_total }}</span>
      </div>

    </a>
  {% endfor %}
{% endblock %}