body {
  padding-top: 3rem;
}

a {
  color: inherit;
}

.small-card {
  width: 21vh;
  height: 40vh;
  text-decoration: none;
  margin: 1em;
}

.big-card {
  width: 100%;
  border: 1;
  padding: 10px;
}

.entry-img {
  min-width: 0;
  width: 480px;
}

/* .size-card-img {
  text-align: center;
  width: 100%;
} */
.arrived {
  border-left: 5px solid #73BD07;
}

.not-arrived {
  border-left: 5px solid #dd0202;
}

#loader {
  display: flex;
}

 .card-actions {
  margin-bottom: 5rem;
 }

.skeleton-card {
  width: 18rem;
  height: 18rem;
  margin: 1em;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
  position: relative;
  background-color: #eaeaea;
}

.skeleton-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: load 1s infinite;
}

@keyframes load {
  100% {
    transform: translateX(100%);
  }
}